<nav class="navbar navbar-expand-lg navbar-light py-4 nav ">
  <div class="container-fluid">

<a class="navbar-brand" href="/">
  <div> <img src="https://s3.amazonaws.com/logosnap/logos/2022/Aug/small-1575-62ed03e0d49fb.png" alt="..."></div>
</a>

    <div class=" d-flex justify-content-end p-2">
      <ul class="navbar-nav p-2 ">
        <li class="nav-item">
          <div class="dropdown">
            <img src="images/user.png" alt="MENU" width="50" height="50">
            <div class="dropdown-content">
                <a href="#">Home</a>
                <a href="#">User profile</a>
                <a class="nav-link" href="/auth/logout">Log Out</a>
            </div>
        </div>  
        </li>
        
      </ul>
    </div>
  </div>
</nav>
