<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="bootcatch sidebar is simple single page template with sidebar based on bootstrap, it's starter template for admin template - thanks :)">
        <meta name="author" content="">
        <title>Courses with sidebar</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- material icons cdn -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- Custom styles for this template -->
        <link href="css/simple-sidebar.css" rel="stylesheet">
        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="course.css"> 
    </head>

    <body>
        <div id="main-wrapper">
            <!-- Sidebar -->
            <div id="sidebar">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a class="d-flex align-items-center"> StudyShare </a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Courses</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">Forums</a>
                    </li>
                    <li>
                        <a href="#">Reviews</a>
                    </li>
                    <li>
                        <a href="#">People</a>
                    </li>
                </ul>
            </div>

            <!-- Page Content -->
            <div id="main-content">
                <!-- navbar start -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <!-- sidebar collapse button ## mobile view -->
                    <ul class="navbar-nav  d-flex align-items-center ">
                        <li class="nav-item active mobile-view">
                            <a class="nav-link d-flex align-items-center" href="#menu-toggle" id="menu-toggle">
                                <i class="material-icons">menu</i>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <!-- end sidebar collapse button ## mobile view -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    
                    <ul> </ul> <ul> </ul> <ul> </ul> <ul> </ul> <ul> </ul> <ul> </ul> 
                    
                    <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                        <div class="row">
                            <input class="flipkart-navbar-input col-xs-11" type="" placeholder="    Search" name="">
                            <button class="flipkart-navbar-button col-xs-1">
                                <svg width="15px" height="15px">
                                    <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    

                    

                    <div class="upper-links">
                        <a class="links" href="">
                            <svg class="" width="16px" height="12px" style="overflow: visible;">
                                <path d="M8.037 17.546c1.487 0 2.417-.93 2.417-2.417H5.62c0 1.486.93 2.415 2.417 2.415m5.315-6.463v-2.97h-.005c-.044-3.266-1.67-5.46-4.337-5.98v-.81C9.01.622 8.436.05 7.735.05 7.033.05 6.46.624 6.46 1.325v.808c-2.667.52-4.294 2.716-4.338 5.98h-.005v2.972l-1.843 1.42v1.376h14.92v-1.375l-1.842-1.42z" fill="#fff"></path>
                            </svg>
                        </a>
                    </div>

                    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="container-fluid">
                            <ul class="navbar-nav d-flex flex-row me-1">
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" data-abc="true" aria-expanded="false">Bijoy</a>
                                    <div class="dropdown-menu"> <a class="dropdown-item" href="" data-abc="true">Profile</a> <a class="dropdown-item" href="" data-abc="true">Settings</a> <a class="dropdown-item" href="" data-abc="true">Logout</a> </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                </nav>
                <!-- navbar ends -->


               

                

                <div class="container-fluid">

                    <ul></ul>
                    <div id="toolbar"style="background-color:#28a745;margin-bottom:50px">
                        <div style="display: inline-block; text-align: center; margin-right: 20px;margin-bottom: 20px;margin-top: 20px;">
                            <label for="filetype" style="font-weight: bold; color: white;">File type:</label>
                            <select id="filetype" class="form-control" style="width: 200px;">
                                <option value="">All</option>
                                <option value="">Powerpoint Slides</option>
                                <option value="all">Class Notes</option>
                                <option value="selected">Term Questions</option>
                            </select>
                        </div>

                        <div style="display: inline-block; text-align: center; margin-right: 20px;">
                            <label for="filetype" style="font-weight: bold; color: white;">File size:</label>
                            <select id="filetype" class="form-control" style="width: 200px;">
                                <option value="">All</option>
                                <option value="">Small</option>
                                <option value="all">Medium</option>
                                <option value="selected">Large</option>
                            </select>
                        </div>
                    
                        <div style="display: inline-block; text-align: center;">
                            <label for="duration" style="font-weight: bold; color: white;">Duration:</label>
                            <select id="duration" class="form-control" style="width: 200px;">
                                <option value="">All</option>
                                <option value="">less than 30 min</option>
                                <option value="all">between 30 and 60 min</option>
                                <option value="selected">more than 60 min</option>
                            </select>
                        </div>

                        <div style="display: inline-block; text-align: center;">
                            <label for="sortby" style="font-weight: bold; color:white;">Sort by:</label>
                            <select id="sortby" class="form-control" style="width: 200px;">
                                <option value="">All</option>
                                <option value="all">Recently Uploaded</option>
                                <option value="all">Download Count</option>
                                <option value="selected">Rating</option>
                            </select>
                        </div>
                        &nbsp;&nbsp;&nbsp; 
                        <button class="btn btn--radius-2" type="submit" onclick="location.href='material.html'" style="background-color: #e7fd21; color: black;width:80px">Filter</button>



                    </div>

                    <div id="courses">
                        <!-- <% for (let i = 0; i < courses.length; i++) { %> -->
                            <div class="note-card">
                                
                                <p class="highlight"> Slide1.pptx</p>
                                <!--<p>Level: <%= courses[i].level %></p>-->
                                <p>by Anindiya Iqbal</p>
                                <p>This material is related to ER Diagram</p>
                                <button onclick="location.href=''">Download</button>

                                <button onclick="location.href='tmp.html'">View Material</button>
                            
                                <div style="display: flex; justify-content: space-between; color: #28a745;margin-top:15px">
                                    <p>Rating: 9.2</p>
                                    <p>Download Count: 2</p>
                                </div>
                            </div>

                            <div class="note-card">
                                <p class="highlight"> Slide1.pptx</p>
                                <!--<p>Level: <%= courses[i].level %></p>-->
                                <p>by Anindiya Iqbal</p>
                                <p>This material is related to ER Diagram</p>
                                <button onclick="location.href=''">Download</button>
                                <button onclick="location.href='tmp.html'">View Material</button>
                                <div style="display: flex; justify-content: space-between; color: #28a745;margin-top:15px">
                                    <p>Rating: 9.2</p>
                                    <p>Download Count: 2</p>
                                </div>
                            </div>

                            <div class="note-card">
                                <p class="highlight"> Slide1.pptx</p>
                                <!--<p>Level: <%= courses[i].level %></p>-->
                                <p>by Anindiya Iqbal</p>
                                <p>This material is related to ER Diagram</p>
                                <button onclick="location.href=''">Download</button>
                                <button onclick="location.href='tmp.html'">View Material</button>
                                <div style="display: flex; justify-content: space-between; color: #28a745;margin-top:15px">
                                    <p>Rating: 9.2</p>
                                    <p>Download Count: 2</p>
                                </div>
                            </div>

                           

                            <div class="note-card">
                                <p class="highlight"> Slide1.pptx</p>
                                <!--<p>Level: <%= courses[i].level %></p>-->
                                <p>by Anindiya Iqbal</p>
                                <p>This material is related to ER Diagram</p>
                                <button onclick="location.href=''">Download</button>
                                <button onclick="location.href='tmp.html'">View Material</button>
                                <div style="display: flex; justify-content: space-between; color: #28a745;margin-top:15px">
                                    <p>Rating: 9.2</p>
                                    <p>Download Count: 2</p>
                                </div>
                            </div>

                            <div class="note-card">
                                <p class="highlight"> Slide1.pptx</p>
                                <!--<p>Level: <%= courses[i].level %></p>-->
                                <p>by Anindiya Iqbal</p>
                                <p>This material is related to ER Diagram</p>
                                <button onclick="location.href=''">Download</button>
                                <button onclick="location.href='tmp.html'">View Material</button>
                                <div style="display: flex; justify-content: space-between; color: #28a745;margin-top:15px">
                                    <p>Rating: 9.2</p>
                                    <p>Download Count: 2</p>
                                </div>
                            </div>
                            
                            
                        <!-- <% } %> -->
                        <button id="add-course-button" onclick="location.href='upload_form.html'">Upload Material</button>
                    </div>

                    
                </div>
            </div>
            <!-- /#main-content -->
        </div>
        <!-- /#wrapper -->
        <!-- Bootstrap core JavaScript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#main-wrapper").toggleClass("toggled");
        });
        </script>
    </body>

</html>