<!DOCTYPE html>
<html>

    <head>
        <title>Courses</title>
        <link rel="stylesheet" type="text/css" href="course.css">
    </head>

    <body> 
        <div id="courses">
            <!-- <% for (let i = 0; i < courses.length; i++) { %> -->
                <div class="course-card">
                    <p class="highlight"> ISD(CSE326)</p>
                    <!--<p>Level: <%= courses[i].level %></p>-->
                    <p>Level: 3 , Term: 2</p>
                    <button onclick="location.href=''">View Lectures</button>
                    <button onclick="location.href=''">Edit Course</button>
                </div>
                <div class="course-card">
                    <p class="highlight"> ISD(CSE326)</p>
                    <p>Level: 3 , Term: 2</p>
                    <button onclick="location.href=''">View Lectures</button>
                    <button onclick="location.href=''">Edit Course</button>
                </div>
                <div class="course-card">
                    <p class="highlight"> ISD(CSE326)</p>
                    <p>Level: 3 , Term: 2</p>
                    <button onclick="location.href=''">View Lectures</button>
                    <button onclick="location.href=''">Edit Course</button>
                </div>
                <div class="course-card">
                    <p class="highlight"> ISD(CSE326)</p>
                    <p>Level: 3 , Term: 2</p>
                    <button onclick="location.href=''">View Lectures</button>
                    <button onclick="location.href=''">Edit Course</button>
                </div>
                <div class="course-card">
                    <p class="highlight"> ISD(CSE326)</p>
                    <p>Level: 3 , Term: 2</p>
                    <button onclick="location.href=''">View Lectures</button>
                    <button onclick="location.href=''">Edit Course</button>
                </div>
            <!-- <% } %> -->
            <button id="add-course-button" onclick="location.href=''">Add Course</button>
        </div>
    </body>
</html>